.icon-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.icon-button .icon-btn {
  font-size: 1.1em;
  transition: transform 0.2s;
}

.icon-button:hover .icon-btn {
  transform: scale(1.1);
}

.icon-button.btn-sm .icon-btn {
  font-size: 1em;
}

.icon-button.btn-lg .icon-btn {
  font-size: 1.2em;
}

.icon-button,
.icon-button .text-btn {
  line-height: 1.5;
}

.btn-create {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}
.btn-create:hover,
.btn-create:active {
  background-color: var(--primary-dark) !important;
  border-color: var(--primary-dark) !important;
  color: var(--white);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-edit {
  background-color: var(--edit);
  border-color: var(--edit);
  color: var(--white);
}
.btn-edit:hover,
.btn-edit:active {
  background-color: var(--edit-dark) !important;
  border-color: var(--edit-dark) !important;
  color: var(--white);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-details {
  background-color: var(--detail);
  border-color: var(--detail);
  color: var(--white);
}
.btn-details:hover,
.btn-details:active {
  background-color: var(--detail-dark) !important;
  border-color: var(--detail-dark) !important;
  color: var(--white);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-remove {
  background-color: var(--delete);
  border-color: var(--delete);
  color: var(--white);
}
.btn-remove:hover,
.btn-remove:active {
  background-color: var(--delete-dark) !important;
  border-color: var(--delete-dark) !important;
  color: var(--white);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-success {
  background-color: var(--success);
  border-color: var(--success);
  color: var(--white);
}
.btn-success:hover,
.btn-success:active {
  background-color: var(--success-dark) !important;
  border-color: var(--success-dark) !important;
  color: var(--white);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-warning {
  background-color: var(--warning);
  border-color: var(--warning);
  color: var(--dark);
}
.btn-warning:hover,
.btn-warning:active {
  background-color: var(--warning-dark) !important;
  border-color: var(--warning-dark) !important;
  color: var(--dark);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-info {
  background-color: var(--info);
  border-color: var(--info);
  color: var(--white);
}
.btn-info:hover,
.btn-info:active {
  background-color: var(--info-dark) !important;
  border-color: var(--info-dark) !important;
  color: var(--white);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);
}
.btn-secondary:hover,
.btn-secondary:active {
  background-color: var(--secondary-dark) !important;
  border-color: var(--secondary-dark) !important;
  color: var(--white);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-create-outline,
.btn-refresh {
  background-color: transparent;
  border-color: var(--primary);
  color: var(--primary);
}
.btn-create-outline:hover,
.btn-refresh:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}
.btn-create-outline:active,
.btn-refresh:active {
  background-color: var(--primary-dark) !important;
  border-color: var(--primary-dark) !important;
  color: var(--white);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-edit-outline {
  background-color: transparent;
  border-color: var(--edit);
  color: var(--edit);
}
.btn-edit-outline:hover {
  background-color: var(--edit);
  border-color: var(--edit);
  color: var(--white);
}
.btn-edit-outline:active {
  background-color: var(--edit-dark) !important;
  border-color: var(--edit-dark) !important;
  color: var(--white);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-details-outline {
  background-color: transparent;
  border-color: var(--detail);
  color: var(--detail);
}
.btn-details-outline:hover {
  background-color: var(--detail);
  border-color: var(--detail);
  color: var(--white);
}
.btn-details-outline:active {
  background-color: var(--detail-dark) !important;
  border-color: var(--detail-dark) !important;
  color: var(--white);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-remove-outline {
  background-color: transparent;
  border-color: var(--delete);
  color: var(--delete);
}
.btn-remove-outline:hover {
  background-color: var(--delete);
  border-color: var(--delete);
  color: var(--white);
}
.btn-remove-outline:active {
  background-color: var(--delete-dark) !important;
  border-color: var(--delete-dark) !important;
  color: var(--white);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-success-outline {
  background-color: transparent;
  border-color: var(--success);
  color: var(--success);
}
.btn-success-outline:hover {
  background-color: var(--success);
  border-color: var(--success);
  color: var(--white);
}
.btn-success-outline:active {
  background-color: var(--success-dark) !important;
  border-color: var(--success-dark) !important;
  color: var(--white);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-warning-outline {
  background-color: transparent;
  border-color: var(--warning);
  color: var(--warning-dark);
}
.btn-warning-outline:hover {
  background-color: var(--warning);
  border-color: var(--warning);
  color: var(--dark);
}
.btn-warning-outline:active {
  background-color: var(--warning-dark) !important;
  border-color: var(--warning-dark) !important;
  color: var(--dark);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-info-outline {
  background-color: transparent;
  border-color: var(--info);
  color: var(--info);
}
.btn-info-outline:hover {
  background-color: var(--info);
  border-color: var(--info);
  color: var(--white);
}
.btn-info-outline:active {
  background-color: var(--info-dark) !important;
  border-color: var(--info-dark) !important;
  color: var(--white);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-secondary-outline {
  background-color: transparent;
  border-color: var(--secondary);
  color: var(--secondary);
}
.btn-secondary-outline:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);
}
.btn-secondary-outline:active {
  background-color: var(--secondary-dark) !important;
  border-color: var(--secondary-dark) !important;
  color: var(--white);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
